@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Halant&family=Inter:wght@400;500;600;700&family=Roboto:wght@700&display=swap");

/* font-family: 'Aclonica', sans-serif;
font-family: 'Halant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.container {
  height: 100vh;
  position: relative;
  background-image: url(../src/assets/cly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.wrapper {
  height: 100%;
}

.navwrapper {
  display: flex;
  justify-content: center;

  color: #494a4f;
  position: relative;
  top: 40px;
  padding: 0 60px;
}
.nav {
  border: 2px #494a4f solid;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 1px;
  width: 100%;
}
.nav ul {
  display: flex;
  gap: 12px;
}
.nav li {
  list-style-type: none;
  border: 2px solid #494a4f;
  padding: 8px 14px;
  border-radius: 80px;
  cursor: pointer;
}

.nav .left .logo {
  padding: 8px 20px;
  font-family: "Aclonica", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.nav .right .button {
  background-color: #494a4f;
}
.nav .button button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
}
.main {
  display: flex;
}
.left-section {
  position: relative;
  top: 80px;
  margin: 0 40px;
}
.main h1 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 300;
  width: 400px;
}
.main p {
  position: absolute;
  top: 50px;
  right: -80px;
  width: 200px;
  font-size: 14px;
}
.recentlist {
  margin-top: 50px;
}
.recentlist ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 30px;
  width: 80%;
}
.recentlist li {
  padding: 10px 20px;
  list-style-type: none;
  border: 2px solid #494a4f;
  border-radius: 50px;

  font-weight: bold;
  font-size: 18px;
}
.footer {
  position: absolute;
  bottom: 0;
  margin: 0 30px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.623);
  color: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.footer h1 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
.right {
  display: flex;
  gap: 10px;
}
.right img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.phara {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.start {
  background-color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
  position: relative;
  margin-top: 5px;
}
.start::before {
  content: "";

  border: 2px solid white;
  border-radius: 50px;
  width: 100%;
  padding: 19px 40.5px;
  position: absolute;
  top: -5px;
  left: -4px;
}
@media (max-width: 670px) {
  .footer .right p {
    display: none;
  }
}
